* {
    margin: 0;
    padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
}
.body {
    color: #fff;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}
.container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 40px 20px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
}
.title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.block-orange {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: .1s linear;
    color: orange;
    cursor: pointer;
}
.block-orange::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.block-orange:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.block-orange::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.block-green {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: .1s linear;
}

.block-green::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 171, 11);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.block-green:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.block-green::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 171, 11);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.block-green:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.chatbot {
    color: orange;
}

.ml {
    color: rgb(0, 171, 11);
}

ul {
    max-width: 600px;
    margin: 0 auto;
        list-style-type: none;
            counter-reset: steps;
            margin: 0;
            font-family: sans-serif;
        }
        
        ul li {
            padding: 0 0 20px 50px;
            position: relative;
            margin: 0;
        }
        
        ul li:after {
            position: absolute;
            top: 0;
            left: 2px;
            content: counter(steps);
            counter-increment: steps;
            border-radius: 50%;
            display: inline-block;
            height: 24px;
            width: 24px;
            text-align: center;
            line-height: 24px;
            background: #fff;
        }
        
        ul li:after {
            position: absolute;
            top: 0;
            left: 2px;
            content: counter(steps);
            counter-increment: steps;
            border-radius: 50%;
            display: inline-block;
            height: 24px;
            width: 24px;
            text-align: center;
            line-height: 24px;
            background: #fff;
        }
        
        ul li:before {
            position: absolute;
            left: 13px;
            top: 0;
            content: "";
            height: 100%;
            width: 0;
            border-left: 2px solid #fff;
        }
        
        ul li:last-of-type:before {
            border: none;
        }
        
        li:nth-child(2)::after {
            background-color: orange;
            color: orange;
        }
        
        li:nth-child(3)::after {
            background-color: rgb(0, 171, 11);
            color: rgb(0, 171, 11);
        }
        
        .chat {
            margin-top: 20px;
            position: relative;
            display: inline-block;
            width: 100%;
            height: 600px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#label-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: .1s linear;
}

.result {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.btn {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s linear;
}

.btn:hover {
    background-color: rgb(0, 171, 11);
    color: #fff;
}
